.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
# folders
exampledata/
fastqs/
bams/
fastq_files/
index/
RData/
denemeler/
wehi_marek_counting/
wehi_justin_counting/
countmatrices/
datasets/T8/
datasets/Tox/
# R files
R/2023-11-07-Analysis-UWB-zeros-removed-GGiner copy.Rmd
