.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
# folders
exampledata/
fastqs/
bams/
fastq_files/
index/
RData/
denemeler/
wehi_marek_counting/
wehi_justin_counting/
countmatrices/
datasets/T8/
datasets/Tox/
# R files
R/2023-11-07-Analysis-UWB-zeros-removed-GGiner copy.Rmd
CuReSPR_0.0.0.9000.tar.gz
CuReSPR.Rcheck/
datasets/gecko/
datasets/base/magecktest/
datasets/base/samples.csv
produce_mageck_counts.R
R/MAGeCKFlute_Pmel1-gene-guide/
R/MAGeCKFlute_Pmel1-mle-gene/
R/MAGeCKFlute_Pmel1/
R/app_classified.R
