.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
fastqs/
bams/
fastq_files/
index/
RData/
denemeler/
wehi_marek_counting/
R/steps_2_create_pkg.R
R/apptest.R
R/appglue.R
R/countingT8.R
R/counting.R
R/countingbase.R
R/countingall.R
countmatrices/
datasets/T8/
datasets/Tox/
